/*@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');	*/
/*@import url('https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.transitions.css');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');*/
/*@import url('https://nowonbun.github.io/nowonbunTheme/css/nowonbun.css');*/
.adsens_responsive { width: 320px; height: 100px; }
@media(min-width: 500px) { .adsens_responsive { width: 468px; height: 60px; } }
@media(min-width: 800px) { .adsens_responsive { width: 728px; height: 90px; } }
@media(min-width: 992px) { .adsens_responsive { width: 970px; height: 90px; } }
